* {
  box-sizing: border-box;
}

html {
  background-color: rgb(240, 233, 223);
  font-family: "Andada Pro", serif;
  margin: 5vw;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  font-size: 2em;
  letter-spacing: 0rem;
  word-spacing: 1rem;
}
.top_title {
  margin-top: 5vmin;
}
.top_title h1 {
  background-color: black;
  color: white;
  width: max-content;
  font-size: 2em;
}
.top_title h2 {
  color: grey;
  font-size: 1.5rem;
}
.top_title h2 span {
  color: brown;
  font-size: 1.5rem;
}
section {
  width: 90vmin;
}
article {
  width: 20vw;
  margin: 5vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  color: rgb(110, 109, 109);
}
img {
  width: 16vw;
  margin: auto;
}
article h2 {
  margin: 0;
  font-size: 1em;
  text-align: left;
}
article h1 {
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  border-bottom: rgb(194, 193, 193) 0.5px solid;
  margin-bottom: 0.5vw;
}
.grey_outline {
  border: rgb(194, 193, 193) 0.5px solid;
  padding-bottom: 0.5vw;
}
article ul {
  padding-left: 0px;
}
article ul li {
  list-style-type: none;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1em;
  letter-spacing: 0rem;
  font-style: italic;
  border-bottom: rgb(194, 193, 193) 0.5px solid;
  padding-top: 2vh;
  padding-bottom: 0.5vh;
}
article ul li span {
  color: black;
}
article p {
  text-align: center;
  border: 1px brown solid;
  color: brown;
  width: max-content;
  padding: 0.5vw;
  margin: auto;
}
