* {
  box-sizing: border-box;
}

html {
  background-color: rgb(240, 233, 223);
  font-family: "Andada Pro", serif;
  margin: 5vw;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  font-size: 2em;
  letter-spacing: 0rem;
  word-spacing: 1rem;
}
.top_title {
  margin-top: 5vmin;
  height: auto;
  display: flex;
  flex-direction: column;
}
.top_title h1 {
  background-color: black;
  color: white;
  width: max-content;
  font-size: 2em;
  margin: 0;
  padding: 1vmin;
}
.top_title h2 {
  color: grey;
  font-size: 1.5rem;
  margin-bottom: 5vh;
}
.top_title h2 span {
  color: brown;
  font-size: 1.5rem;
}
.bikes {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}
article {
  width: 25vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  color: rgb(110, 109, 109);
  flex-wrap: wrap;
}
img {
  width: 70%;
  margin: auto;
}
article h2 {
  margin: 0;
  font-size: 1em;
  text-align: left;
}
article h1 {
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  border-bottom: rgb(194, 193, 193) 0.5px solid;
  margin-bottom: 0.5vw;
}
.grey_outline {
  border: rgb(194, 193, 193) 0.5px solid;
  padding-bottom: 0.5vw;
  width: 99%;
}
article ul {
  padding-left: 0px;
}
article ul li {
  list-style-type: none;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1em;
  letter-spacing: 0rem;
  font-style: italic;
  border-bottom: rgb(194, 193, 193) 0.5px solid;
  padding-top: 2vh;
  padding-bottom: 0.5vh;
}
article ul li span {
  color: black;
}
article p {
  text-align: center;
  border: 1px brown solid;
  color: brown;
  width: max-content;
  padding: 0.5vw;
  margin: auto;
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  article h1 {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .bikes {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
  }
  article {
    width: 42vw;
    margin-bottom: 2vh;
  }
  img {
    width: 70%;
  }
}

@media screen and (max-width: 499px) {
  .bikes {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    flex-wrap: wrap;
  }
  article {
    width: 90vw;
    margin-bottom: 2vh;
  }
  article h1 {
    font-size: 1em;
  }
  img {
    width: 80%;
  }
}
